<html>
  <head>
  </head>
  <body>
    Create a public post:
    <form action="/createPublicPostAuth" method="POST">
      <input type = "text" name = "itemID" placeholder="itemID" required/> </br>
      <input type = "text" name = "filePath" placeholder="filePath"/> </br>
      <input type = "text" name = "itemName" placeholder="itemName"/> </br>
      <input type="submit" value = Submit />
      {% if error %}
      <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>
    <a href = "/managePosts">Go back</a>
    <br>
    <br>
    <a href = "/home">Home</a>
  </body>
</html>
